.example-spacer {
    flex: 1 1 auto;
}
.headerTitle {
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
}
button {
    margin-right: 20px;
    width: 120px;
}
/* .functionalHeaderButton {
    margin-right: 990px;
}
.functionalHeaderButton button {
    width:150px;
    margin-right: 15px;
} */
  